
.background    { background: rgb(255, 255, 255);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.grass {
            background-color:lightgreen;
        }
.ice {
            background-color:skyblue;
        }
.none {
            background-color: none;
        }

.actor  { position: absolute;  background: blue; }

.map {
            position: relative;
            overflow: hidden;
            max-width: 600px;
            max-height: 450px;
            bottom: 0;
            
        }