body,.page,.world {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.page {
    color:black;
}
.world {
    width: 100%;
    height: 100%;
}
.man {
    position: absolute;
    background-image: url(../../../image/moster/r_1.png);
    background-size:cover;
}
.map {
    position: absolute;
    left: 0;
    bottom: 0;
    margin:0;
    padding: 0;
    border: 0;
    border-spacing:0;
}
.map tr {
    border: 0;
    padding: 0;
    margin: 0;
}
.map tr td {
    margin: 0;
    padding: 0;
    border: 0;
}