.material {
}
.grass {
    background-image: url(../../../image/material/grass.png);
    background-size:cover;
}
.ice {
    background-image: url(../../../image/material/ice.png);
    background-size:cover;
}
.rope {
    background-image: url(../../../image/material/rope.png);
    background-size:cover;    
}
.air {
}