.material {
    color:black;
}
.block {
    color: red;
}
.inline {
    color:yellow;
}
.grass {
    background-image: url(../../../image/material/grass.png);
    background-size:cover;
}
.ice {
    background-image: url(../../../image/material/ice.png);
    background-size:cover;
}
.rope {
    background-image: url(../../../image/material/rope.png);
    background-size:cover;    
}
.air {
    background-color:rgba(0, 0,0,0);
}